@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("../fonts/HelveticaNowDisplay-RegIta.woff2") format("woff2"), url("../fonts/HelveticaNowDisplay-RegIta.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("../fonts/HelveticaNowDisplay-Medium.woff2") format("woff2"), url("../fonts/HelveticaNowDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("../fonts/HelveticaNowDisplay-MedIta.woff2") format("woff2"), url("../fonts/HelveticaNowDisplay-MedIta.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("../fonts/HelveticaNowDisplay-Bold.woff2") format("woff2"), url("../fonts/HelveticaNowDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("../fonts/HelveticaNowDisplay-Regular.woff2") format("woff2"), url("../fonts/HelveticaNowDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("../fonts/HelveticaNowDisplay-BoldIta.woff2") format("woff2"), url("../fonts/HelveticaNowDisplay-BoldIta.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "DMSans";
  src: url("../../fonts/DMSans-Regular.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Sora";
  src: url("../../fonts/Sora-Regular.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../../fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
.gradient-h1-hero {
  background: linear-gradient(121deg, #4f5be0 -2.87%, #0c1578 36.07%, #151626 79.83%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

html.dark .gradient-h1-hero {
  background: linear-gradient(121deg, #4f5be0 9.31%, #757feb 25.99%, #f7f7fc 72.26%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

:root {
  --cor-linha: #4f5be0;
  --espessura-linha: 1px;
  --duracao-animation: 10s;
  --delay-animation: 5s;
  --tamanho-quadrados: 7px;
  --background-quadrados: #fff;
  --espessura-borda-quadrados: 1px;
  --cor-borda-quadrados: #4f5be0;
}

a {
  transition: 0.2s all ease;
}

.blueRect {
  content: "";
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: var(--espessura-linha) solid var(--cor-linha);
  transform-origin: left top;
  animation: selectElement var(--duracao-animation) ease-in-out var(--delay-animation) infinite;
}

.square {
  content: "";
  width: var(--tamanho-quadrados);
  height: var(--tamanho-quadrados);
  position: absolute;
  background: var(--background-quadrados);
  border: var(--espessura-borda-quadrados) solid var(--cor-borda-quadrados);
}

.topLeft {
  top: -4px;
  left: -4px;
  transform: translate(-50%, -50%);
  animation: topLeftSquare var(--duracao-animation) ease-in-out var(--delay-animation) infinite;
}

.topRight {
  top: -4px;
  right: -4px;
  transform: translate(50%, -50%);
  animation: topRightSquare var(--duracao-animation) ease-in-out var(--delay-animation) infinite;
}

.bottomLeft {
  bottom: -4px;
  left: -4px;
  transform: translate(-50%, 50%);
  animation: bottomLeftSquare var(--duracao-animation) ease-in-out var(--delay-animation) infinite;
}

.bottomRight {
  bottom: -4px;
  right: -4px;
  transform: translate(50%, 50%);
  animation: bottomRightSquare var(--duracao-animation) ease-in-out var(--delay-animation) infinite;
}

.arrow-s2-anim {
  position: absolute;
  top: 60%;
  left: 40%;
}

.image-job {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ctaDivImg::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #151626;
  opacity: 0.2;
  z-index: 1;
  mix-blend-mode: overlay;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.ctaDivImg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(180deg, rgba(21, 22, 38, 0) 0%, #151626 100%);
  z-index: 2;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.optionsFonts {
  opacity: 0;
  transition: 0.5s all ease;
  pointer-events: none;
}

.optionsFonts.active {
  opacity: 1;
  pointer-events: all;
}

.fontOption {
  transition: 0.5s all ease;
  fill: rgba(232, 233, 240, 0);
  cursor: pointer;
}
.fontOption rect {
  fill: transparent;
  transition: 0.5s all ease;
}
.fontOption:hover rect {
  fill: #e8e9f0;
}

.fillTextSelection {
  fill: rgba(247, 247, 252, 0);
  transition: 0.25s all ease;
}

.textSelection {
  cursor: pointer;
}

.textSelection:hover .fillTextSelection {
  fill: #f7f7fc;
}

.colorinput {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  background: transparent;
}

.bars {
  position: relative;
  width: 134px;
  height: 2px;
}
.bars .barGray {
  width: 100%;
  height: 100%;
  background: #dadcf7;
  opacity: 0.15;
  position: absolute;
  inset: 0;
  border-radius: 16px;
}
.bars .barWhite {
  width: 100%;
  height: 100%;
  background: #dadcf7;
  position: absolute;
  inset: 0;
  border-radius: 16px;
}

html.dark .bars .barGray {
  background: #1e1e1e;
}
html.dark .bars .barWhite {
  background: #1e1e1e;
}

.caseUI {
  box-shadow: 0px 14px 52.2px 0px rgba(33, 48, 217, 0.2);
}

.faqAnswer {
  max-height: 0px;
  overflow: hidden;
  transition: 0.5s all ease;
  opacity: 0;
}

.faqAnswer.active {
  margin-top: 16px;
  max-height: 500px;
  opacity: 1;
}

.faqIcon {
  transition: 0.5s all ease;
}

.faqButton.active .faqIcon {
  transform: rotate(45deg);
}/*# sourceMappingURL=style.css.map */