:root {
  --cor-linha: #4f5be0;
  --espessura-linha: 1px;
  --duracao-animation: 10s;
  --delay-animation: 5s;
  --tamanho-quadrados: 7px;
  --background-quadrados: #fff;
  --espessura-borda-quadrados: 1px;
  --cor-borda-quadrados: #4f5be0;
}

a {
  transition: 0.2s all ease;
}

.blueRect {
  content: "";
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: var(--espessura-linha) solid var(--cor-linha);
  transform-origin: left top;
  animation: selectElement var(--duracao-animation) ease-in-out
    var(--delay-animation) infinite;
}

.square {
  content: "";
  width: var(--tamanho-quadrados);
  height: var(--tamanho-quadrados);
  position: absolute;
  background: var(--background-quadrados);
  border: var(--espessura-borda-quadrados) solid var(--cor-borda-quadrados);
}

.topLeft {
  top: -4px;
  left: -4px;
  transform: translate(-50%, -50%);
  animation: topLeftSquare var(--duracao-animation) ease-in-out
    var(--delay-animation) infinite;
}

.topRight {
  top: -4px;
  right: -4px;
  transform: translate(50%, -50%);
  animation: topRightSquare var(--duracao-animation) ease-in-out
    var(--delay-animation) infinite;
}

.bottomLeft {
  bottom: -4px;
  left: -4px;
  transform: translate(-50%, 50%);
  animation: bottomLeftSquare var(--duracao-animation) ease-in-out
    var(--delay-animation) infinite;
}

.bottomRight {
  bottom: -4px;
  right: -4px;
  transform: translate(50%, 50%);
  animation: bottomRightSquare var(--duracao-animation) ease-in-out
    var(--delay-animation) infinite;
}

.arrow-s2-anim {
  position: absolute;
  top: 60%;
  left: 40%;
  z-index: 15;
}

.image-job {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ctaDivImg {
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #151626;
    opacity: 0.2;
    z-index: 1;
    mix-blend-mode: overlay;
    pointer-events: none;
    user-select: none;
  }
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(180deg, rgba(21, 22, 38, 0) 0%, #151626 100%);
    z-index: 2;
    pointer-events: none;
    user-select: none;
  }
}

.optionsFonts {
  opacity: 0;
  transition: 0.5s all ease;
  pointer-events: none;
}
.optionsFonts.active {
  opacity: 1;
  pointer-events: all;
}

.fontOption {
  transition: 0.5s all ease;
  fill: #e8e9f000;
  cursor: pointer;

  & rect {
    fill: transparent;
    transition: 0.5s all ease;
  }
  &:hover rect {
    fill: #e8e9f0;
  }
}

.fillTextSelection {
  fill: #f7f7fc00;
  transition: 0.25s all ease;
}
.textSelection {
  cursor: pointer;
}
.textSelection:hover {
  .fillTextSelection {
    fill: #f7f7fc;
  }
}

.colorinput {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  background: transparent;
}

.bars {
  position: relative;
  width: 134px;
  height: 2px;

  .barGray {
    width: 100%;
    height: 100%;
    background: #dadcf7;
    opacity: 0.15;
    position: absolute;
    inset: 0;
    border-radius: 16px;
  }
  .barWhite {
    width: 100%;
    height: 100%;
    background: #dadcf7;
    position: absolute;
    inset: 0;
    border-radius: 16px;
  }
}

html.dark .bars {
  .barGray {
    background: #1e1e1e;
  }
  .barWhite {
    background: #1e1e1e;
  }
}

.caseUI {
  box-shadow: 0px 14px 52.2px 0px rgba(33, 48, 217, 0.2);
}

.feedbackCard {
  box-shadow: 0px 12px 44.2px 0px rgba(12, 21, 120, 0.07);
}
